.header {
    width: 100%;
    height: 64px;
    background-color: midnightblue;
    color: white;
    display: flex;
    align-items: center;
    >span {
        margin-left: 20px;
        font-size: x-large;
        font-weight: 500;
    }
}

.menu {
    width: 100%;
    height: 32px;
    background-color: deepskyblue;
    color: black;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    >.menu-item {
        display: inline;
        padding: 10px 20px;
        &:hover {
            cursor: pointer;
        }
    }
}