.header {
    width: 100%;
    height: 64px;
    font-size: x-large;
    font-weight: 500;
    background-color: hotpink;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu {
    width: 100%;
    height: 32px;
    background-color: pink;
    color: black;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    >div {
        display: inline;
        padding: 10px 20px;
    }
}